{% extends 'base.html' %}

{% load static %}

{% block title %}Método de Raíces Múltiples{% endblock %}

{% block content %}

<h1 class="title text-gray-900 display-4">Método de Raíces Múltiples</h1>

<div class="subtitle text-gray-700 display-6">
    <p>El método de raíces múltiples es un enfoque numérico utilizado para encontrar las soluciones de ecuaciones no lineales, especialmente cuando la raíz de la ecuación tiene una multiplicidad mayor que uno. La multiplicidad de una raíz indica cuántas veces aparece esa raíz en la ecuación.</p>
    <p>Recuerda usar la <strong>SINTAXIS DE PYTHON</strong> para rellenar los campos.</p>
    <p>Asegúrate de que (f'(x0)) no es cero o muy próxima de cero. En cuyo caso el método no puede converger.</p>
</div>
<br>

<div class="container">
    {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endif %}
    <form action="{% url 'rm' %}" method="POST" class="bg-light p-4 rounded shadow-sm">
        {% csrf_token %}
        <div class="mb-3">
            <input type="text" name="func" class="form-control" placeholder="Función">
        </div>
        <div class="mb-3">
            <input step="any" type="number" name="x0" class="form-control" placeholder="x0">
        </div>
        <div class="mb-3">
            <input type="text" name="tol" class="form-control" placeholder="Tolerancia">
        </div>
        <div class="mb-3">
            <input type="number" name="iteraciones" class="form-control" placeholder="Iteraciones">
        </div>
        
        <div class="text-center">
            <input type="submit" value="Ejecutar" class="btn btn-primary mt-3" style="background-color: #db3f59; border-color: #db3f59">
        </div>
    </form>
</div>

<div class="container">
    {% if resultado %}
    <div class="text-center">
        <h2><b>Resultado</b></h2>
        <p>{{ resultado }}</p>
    </div>
    <br>
        {% if grafica %}
        <div class="text-center">
            <h3>Gráfica de la función</h3>
            <br>
            <img src="data:image/png;base64,{{ grafica }}" class="img-fluid" alt="Gráfica">
        </div>
        {% endif %}
        <br>
        <br>
        {% if data %}
        <div class="text-center">
            <h3><b>Tabla de Resultados</b></h3>
        </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Iteración</th>
                        <th>xi</th>
                        <th>f(xi)</th>
                        <th>Error</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in data %}
                    <tr>
                        <td>{{ row.Iteration }}</td>
                        <td>{{ row.xi }}</td>
                        <td>{{ row.f_xi }}</td>
                        <td>{{ row.Error }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="text-center">
                <a href="data:text/csv;base64,{{ csv }}" download="raices_multiples_resultados.csv" class="btn btn-success" style="background-color: #db3f59; border-color: #db3f59">Descargar CSV</a>
            </div>
        {% endif %}
    {% endif %}
</div>

{% endblock %}
