{% extends 'base.html' %}

{% block title %}Métodos{% endblock %}

{% block content %}
<h3 class="text-center"><b>Capítulo 1</b></h3>
<p class="text-center">Seleccione un método:</p>

<div class="d-flex justify-content-center flex-wrap gap-3 mt-4">
  <a href="{% url 'biseccion' %}" class="method-box">Bisección</a>
  <a href="{% url 'newton' %}" class="method-box">Newton</a>
  <a href="{% url 'pf' %}" class="method-box">Punto Fijo</a>
  <a href="{% url 'rf' %}" class="method-box">Regla Falsa</a>
  <a href="{% url 'rm' %}" class="method-box">Raíces Múltiples</a>
  <a href="{% url 'secante' %}" class="method-box">Secante</a>

</div>

<br>

  <h3 class="text-center"><b>Capítulo 2</b></h3>
  <p class="text-center">Seleccione un método:</p>

<div class="d-flex justify-content-center flex-wrap gap-3 mt-4">
  <a href="{% url 'gauss_seidel' %}" class="method-box"> Gauss-Seidel & Jacobi</a>
  <a href="{% url 'sor' %}" class="method-box"> SOR</a>
</div>

<br>

<h3 class="text-center"><b>Capítulo 3</b></h3>
<p class="text-center">Seleccione un Método:</p>

<div class="d-flex justify-content-center flex-wrap gap-3 mt-4">
<a href="{% url 'lagrange' %}" class="method-box">Lagrange</a>
<a href="{% url 'newtonint' %}" class="method-box">Newton I</a>
<a href="{% url 'spline_cubico' %}" class="method-box">Spline Cubico</a>
<a href="{% url 'spline_lineal' %}" class="method-box">Spline Lineal</a>
<a href="{% url 'vandermonde' %}" class="method-box">Vandermonde</a>
</div>
{% endblock %}
